/* ==========================================================================
                                     GLOBAL
============================================================================= */
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  min-height: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* ==========================================================================
                                    NAVBAR
============================================================================= */
nav {
  border-bottom: 1px solid rgba(227, 252, 252, 0.43);
}

nav .navbar-brand {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: #E3FCFC !important;
  margin-left: 15px;
}

nav .navbar-brand .icon {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: #E3FCFC;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

nav .navbar-brand .icon .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #65CADF;
  margin-top: 7px;
  margin-left: 12px;
  box-sizing: border-box;
}

nav .collapse .ml-auto {
  margin-right: 10px !important;
}

nav .collapse .ml-auto .nav-item .nav-link {
  font-size: 16px !important;
}

nav .navbar-toggler {
  background: #E3FCFC;
  color: #E3FCFC !important;
}

nav .collapse .ml-auto li .nav-link {
  color: #E3FCFC;
  font-size: 20px;
}

nav .collapse button {
  margin-right: 50px !important;
  height: 25px;
  width: 75px;
  font-size: 14px;
  bottom: 0;
  border: 1px solid #2196f3;
  border-radius: 30px;
  background: #2196f3;
  color: #E3FCFC;
  box-sizing: border-box;
}

nav .collapse .input-group {
  width: 125px;
  height: 25px;
  margin-right: 0;
}

nav .collapse .input-group input {
  border: 1px solid #E3FCFC;
  border-radius: 30px;
  background: #E3FCFC;
  text-align: center;
  font-size: 14px;
}

nav .collapse .input-group input::placeholder {
    color: #2196f3;
}


/* ==========================================================================
                                    TALK LIST
============================================================================= */
.Dhamma_Talks {
  position: relative;
  width: 100%;
}

.Dhamma_Talks h1 {
  color: #E3FCFC;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.Dhamma_Talks .list_container {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  background-color: rgba(227, 252, 252, 0.15);
  justify-content: space-around !important;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.Dhamma_Talks .list_container .slick-slider {
  overflow: hidden;
  padding: 0 15px 30px 15px;
}

.Dhamma_Talks .list_container .slick-slider .slick-list {
  min-width: 0 !important;
}

.Dhamma_Talks .list_container .slick-slider .slick-dots {
  bottom: 0 !important;
}

.Dhamma_Talks .list_container .slick-dots::before {
  display: none;
}

.Dhamma_Talks .list_container .talk_item {
  width: 150px !important;
  height: 150px;
  justify-content: center;
  margin: 15px;
  font-size: 13px;
  border-radius: 10px;
  background-size: cover !important;
  opacity: 0.90;
  position: relative;
}

.Dhamma_Talks .list_container .talk_item .talk_title {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #2196f3;
  color: #fff;
  width: 150px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

.Dhamma_Talks .list_container .talk_item:hover .talk_title {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #2196f3;
  color: #fff;
  width: 150px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

.Dhamma_Talks .player {
  height: 83px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(94, 94, 94,0.5);
  box-sizing: border-box;
}
