/* ==========================================================================
                                     GLOBAL
============================================================================= */
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}


/* ==========================================================================
                                    NAVBAR
============================================================================= */
nav {
  border-bottom: 1px solid rgba(227, 252, 252, 0.43);
}

nav .navbar-brand {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: #E3FCFC !important;
  margin-left: 15px;
}

nav .navbar-brand .icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #E3FCFC;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}

nav .navbar-brand .icon .triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 27px solid #65CADF;
  margin-top: 10px;
  margin-left: 15px;
  box-sizing: border-box;
}

nav .collapse .ml-auto {
  margin: auto !important;
}

nav .navbar-toggler {
  background: #E3FCFC;
  color: #E3FCFC !important;
}

nav .collapse .ml-auto li .nav-link {
  color: #E3FCFC;
  font-size: 20px;
}

nav .collapse .input-group {
  width: 200px;
  height: 30px;
  margin-right: auto;
}

nav .collapse .input-group input {
  border: 1px solid #E3FCFC;
  border-radius: 30px;
  background: #E3FCFC;
  color: #2BC0E4;
  text-align: center;
}


/* ==========================================================================
                                    TALK LIST
============================================================================= */
.Dhamma_Talks h1 {
  color: #E3FCFC;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Dhamma_Talks .list_container {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  background-color: rgba(227, 252, 252, 0.15);
  justify-content: space-around !important;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.Dhamma_Talks .list_container .talk_item {
  width: 150px;
  height: 150px;
  justify-content: center;
  margin: 15px;
  font-size: 13px;
  border-radius: 10px;
  background-size: cover !important;
  opacity: 0.90;
  position: relative;
}

.Dhamma_Talks .list_container .talk_item .talk_title {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #2196f3;
  color: #fff;
  width: 150px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

.Dhamma_Talks .list_container .talk_item:hover .talk_title {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #2196f3;
  color: #fff;
  width: 150px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}
